{% extends 'base.html.twig' %}

{% block title %}Modifier les moyens de paiement{% endblock %}

{% block body %}
<div class="custom_form">
    <h1>Modifier les moyens de paiement</h1>

    {{ include('paiements/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_paiements_index') }}">retour</a>

</div>
{% endblock %}