/* GENERAL ALL SIZE */

@font-face {
	font-family: "AbjectFailure";
	src: url("fonts/AbjectFailure.eot");
	src: url("fonts/AbjectFailure.eot") format("embedded-opentype"), url("fonts/AbjectFailure.woff2") format("woff2"), url("fonts/AbjectFailure.woff") format("woff"),
		url("fonts/AbjectFailure.ttf") format("truetype"), url("fonts/AbjectFailure.svg#AbjectFailure") format("svg");
}

@font-face {
	font-family: "MontserratRegular";
	src: url("fonts/MontserratRegular.eot");
	src: url("fonts/MontserratRegular.eot") format("embedded-opentype"), url("fonts/MontserratRegular.woff2") format("woff2"), url("fonts/MontserratRegular.woff") format("woff"),
		url("fonts/MontserratRegular.ttf") format("truetype"), url("fonts/MontserratRegular.svg#MontserratRegular") format("svg");
}

@font-face {
	font-family: "MontserratMedium";
	src: url("fonts/MontserratMedium.eot");
	src: url("fonts/MontserratMedium.eot") format("embedded-opentype"), url("fonts/MontserratMedium.woff2") format("woff2"), url("fonts/MontserratMedium.woff") format("woff"),
		url("fonts/MontserratMedium.ttf") format("truetype"), url("fonts/MontserratMedium.svg#MontserratMedium") format("svg");
}

:root {
	--salt_blue: #005878;
	--salt_lighter_blue: #00729b;
	--salt_darker_blue: #002e3f;
}

body {
	color: var(--salt_blue);
	font-family: "MontserratRegular", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-height: calc(100vh - 394px);
}

.btn {
	background-color: var(--salt_blue);
	color: white;
}

.btn:hover {
	background-color: var(--salt_lighter_blue);
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "AbjectFailure", sans-serif;
	color: var(--salt_blue);
}

/* Header */

.navbar-brand img {
	width: 100px;
}

.navbar-nav-override {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.navbar {
	display: flex;
	align-items: flex-end;
}

.navbar a {
	color: var(--salt_blue) !important;
	font-family: "MontserratMedium", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 0;
	padding-bottom: 0;
}

nav {
	display: flex;
	align-items: flex-end;
	background-color: white;
	padding: 0 70px;
	border-bottom: 10px solid var(--salt_blue);
}

.nav_disconnect {
	padding-right: 0 !important;
	margin-left: 35px;
}

@media screen and (max-width: 991px) {
	.navbar a {
		padding-top: 45px;
	}
	nav {
		padding: 0 35px;
	}
}

/* Login & registration forms */

.custom_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 35px;
	border: thin solid var(--salt_blue);
	border-radius: 30px;
	padding: 35px;
}

.custom_form > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.custom_form label {
	margin-top: 20px;
}

.custom_form .btn {
	margin-top: 20px;
	margin-bottom: 20px;
}

.custom_form input,
.custom_form select {
	margin: 10px;
	max-width: 350px;
	text-align: center;
}

.custom_form input:active {
	background-color: white !important;
}

@media screen and (max-width: 991px) {
	.custom_form {
		margin: 35px;
		padding: 15px;
	}
}

/* Accueil */
.accueil_btn_wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-evenly;
	margin: 35px 0;
	gap: 35px;
}

.accueil_btn_wrapper > div {
	flex-basis: 40%;
	min-width: 300px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: thin solid var(--salt_blue);
	border-radius: 30px;
}

.video_frame {
	margin: 35px 0;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 4%;
	border-radius: 30px;
	background-color: var(--salt_blue);
	border: 10px solid var(--salt_darker_blue);
	min-width: 300px;
}

.presentation_video {
	width: 100%;
}

/* Transactions */

.add_transaction_wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 100%;
	margin-top: 35px;
}

.add_transaction_wrapper img {
	position: absolute;
	width: 200px;
	left: -420px;
	right: 0;
	top: 0;
	bottom: 50px;
	margin: auto;
}

/* Footer */

footer {
	width: 100%;
}

footer section,
footer > div {
	padding: 15px 0;
	background-color: var(--salt_darker_blue) !important;
	color: white;
}

.footer_logo {
	width: 148px;
}

footer h6 {
	color: white;
}

footer i {
	margin-right: 5px;
}
