{% extends 'base.html.twig' %}

{% block title %}Modifier les catégories{% endblock %}

{% block body %}
<div class="custom_form">
    <h1>Modifier les catégories</h1>

    {{ include('categories/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_categories_index') }}">retour</a>
</div>
{% endblock %}