{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}
<div class="custom_form">
    <h1>Ajouter une catégorie</h1>

    {{ include('categories/_form.html.twig') }}

    <a href="{{ path('app_categories_index') }}">retour</a>
</div>
{% endblock %}