{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello </h1>
    <div>
        <p>Pour accéder à nos services vous devez-vous connecter.</p>
        <p class="lead">
            <a class="btn btn-outline-info" href="/connexion" role="button">Connexion</a>
        </p>
    </div>
    <div>
        <p>Si vous n'avez pas encore de compte, merci de vous inscrire en suivant le lien ci-dessous.</p>
        <p class="lead">
            <a class="btn btn-outline-info" href="/inscription" role="button">Inscription</a>
        </p>
    </div>
</div>

<img src="/templates/composants/images/Salt_logo_long.svg" alt="">
{% endblock %}