{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}




<div class="accueil_wrapper">
    <div class="left_content">
        <h1>Salt, mon assistant budget</h1>
        <p>Pour accéder à nos services vous devez-vous connecter.</p>
        <p>
            <a class="btn btn-outline-info" href="/connexion" role="button">Connexion</a>
        </p>
        <p>Pas encore de compte ? <a class="" href="/inscription" role="button">Inscrivez-vous.</a></p>
        <img src="{{ asset('/images/salt_arrow.svg') }}" alt="Flèche">
    </div>
    <div class="right_content">

    </div>
</div>

<h2>Découvrez Salt ! </h2>
<div class="video_frame">
    <video class="presentation_video" controls="" poster="images/video_poster.png" width="">
        <source src="images/elgato.mp4" type="video/mp4">
        <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
            Voici un <a href="">lien</a> pour télécharger la vidéo.</p>
    </video>
</div>
<img src="/templates/composants/images/Salt_logo_long.svg" alt="">
{% endblock %}