{# Bootsrap Navbar https://getbootstrap.com/docs/4.1/components/navbar/#}

<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/"><img src="{{ asset('/images/Salt_logo_long.svg') }}" alt="Logo SALT long"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse"
        aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navCollapse">
        <div class="navbar-nav navbar-nav-override">
            <a class="nav-item nav-link active" href="/">Accueil<span class="sr-only"></span></a>
            {% if app.user %}
            {# Si l'utilisateur est authentifié #}
            <a class="nav-item nav-link" href="/tableau_de_bord">Tableau de bord</a>
            <a class="nav-item nav-link" href="/transactions">Transactions</a>
            {% if is_granted('ROLE_ADMIN') %}
            {# Si l'utilisateur est authentifié et qu'il est admin #}
            <a class="nav-item nav-link" href="/admin">Admin</a>
            {% endif %}
            <a class="nav-item nav-link nav_disconnect" href="{{ path('app_logout') }}">Deconnexion</a>
            {% else %}
            <a class="nav-item nav-link" href="/inscription">S'inscrire</a>
            <a class="nav-item nav-link" href="/connexion">Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>