{# Bootsrap Navbar https://getbootstrap.com/docs/4.1/components/navbar/#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SALT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/accueil">Accueil<span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="/tableau_de_bord">Tableau de bord</a>
            <a class="nav-item nav-link" href="/transactions">Transactions</a>
            <a class="nav-item nav-link " href="#">Deconnexion</a>
        </div>
    </div>
</nav>