{% extends 'base.html.twig' %}

{% block title %}Modifier la transaction{% endblock %}

{% block body %}
<div class="custom_form">

    <h1>Modifier la transaction</h1>

    {{ include('transactions/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_transactions_index') }}">retour</a>

</div>
{% endblock %}