{% extends 'base.html.twig' %}

{% block title %}New Transactions{% endblock %}

{% block body %}
<div class="custom_form">
    <h1>Ajouter une transaction</h1>

    {{ include('transactions/_form.html.twig') }}

    <a href="{{ path('app_transactions_index') }}">retour</a>

</div>
{% endblock %}