{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
<div class="custom_form">
    <h1>Modifier l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_user_index') }}">retour</a>

</div>
{% endblock %}